<section class="sec" id="cite" aria-labelledby="c-h"><div class="wrap">
<div class="sec-head"><div class="eyebrow">Cite</div><h2 class="h2" id="c-h">How to cite {{ p.name }}</h2></div>
<div class="code"><div class="code-top"><span>bibtex</span><button class="copy" type="button" data-copy="cite-bib">Copy</button></div><pre id="cite-bib"><code>{{ p.m.card.citation | trim }}</code></pre></div>
</div></section>
